# >>> template:base
* text=auto eol=lf

*.png  binary
*.jpg  binary
*.zip  binary
# <<< template:base

*.mcfunction text eol=lf
*.mcmeta     text eol=lf linguist-language=JSON

*.ogg  binary
*.nbt  binary
